frontend/.DS_Store
frontend/node_modules/
frontend/dist/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*


.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
venv

frontend/.idea
frontend/.vscode
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/package-lock.json
frontend/yarn.lock

backend/.idea
backend/.vscode
backend/*.suo
backend/*.ntvs*
backend/*.njsproj
backend/*.sln
backend/flask_env
backend/config/localsettings.py
backend/helper/sql_helper.py

__pycache__